<!DOCTYPE HTML>
<div class="players-div">


<div class="Playersbox">
    <h1 id="players">  {{count}} PLAYERS ROSTER: </h1>

<ul class="players-div3">
    {{#each players}}

        <li> {{firstname}} {{lastname}},{{nickname}},{{position}},{{weight}},{{height}} {{age}},  {{country}}</li>

    {{/each}}

</ul>
</div>

</div>
