</style>
</head>
<body>
    <div class="pstat-h">
        <h2 id="playerstat">PLAYER STATISTICS</h2>

    </div>



<table>
  <tr>
    <th>Picture</th>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Nickname</th>
    <th>Position</th>
    <th>Weight</th>
    <th>Height</th>
    <th>Age</th>
    <th>Country</th>
  </tr>

  {{#each players}}
      <tr>
          <td><a><img src="/playerImgs/{{ imageurl }}"/></a></td>
          <td>{{ firstname }}</td>
          <td>{{ lastname }}</td>
          <td>{{ nickname }}</td>
          <td>{{ position }}</td>
          <td>{{ weight }}</td>
          <td>{{ height }}</td>
          <td>{{ age }}</td>
          <td>{{ country}}</td>
      </tr>
{{/each}}

</table>

</body>
</html>
